body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    background-color: #EFEFF0;
    margin: 0;
    width: 100%;
}

h1 {
    text-align: center;
    display: block;
    margin: 0;
    font: 600 30px "Barlow Condensed", sans-serif;
    color: #3f565e;
}

b {
    color: #006747;
}

mark {
    background-color: transparent;
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 1.5px), #9CCB3B calc(50% - 9px), #9CCB3B 100%);
    background-size: 100% 200%;
    word-break: break-word;
    padding: 0px 0px 2px;
    background-position: 0px 0px;
}

li {
    display: block;
}

ul {
    display: block;
    padding: 0;
}

.container {
    margin: auto;
    padding: 50px 100px 80px 100px;
    background-color: white;
}

.alert {
    margin-bottom: 5px;
    line-height: 30px;
    padding: 1px 15px;
}

.alert-dismissible .close {
    margin-bottom: 0;
    line-height: 0px;
    padding: .75rem;
}

#consent-text p {
    text-align: justify;
}

#firstNameError,
#lastNameError,
#uidError,
#uidValidError {
    display: none;
}

 :root {
    --input-color: #8a8a8a;
    --input-border: #d3d3d3;
    --input-background: #fff;
    --input-placeholder: #d1d1d1;
    --input-border-focus: rgb(129, 129, 129);
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: rgb(230, 230, 230);
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: rgb(184, 184, 184);
}

.form-field {
    display: block;
    width: 100%;
    flex: 1 1 auto;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 1rem;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    -webkit-transition: border .3s ease;
    transition: border .3s ease;
    margin-bottom: 1%;
}

.form-field::-webkit-input-placeholder {
    color: var(--input-placeholder);
}

.form-field::-moz-placeholder {
    color: var(--input-placeholder);
}

.form-field:-ms-input-placeholder {
    color: var(--input-placeholder);
}

.form-field::-ms-input-placeholder {
    color: var(--input-placeholder);
}

.form-field::placeholder {
    color: var(--input-placeholder);
}

.form-field:focus {
    outline: none;
    border-color: var(--input-border-focus);
}

.form-group {
    position: relative;
    display: -webkit-box;
    display: flex;
    width: 100%;
}

.form-group>span,
.form-group .form-field {
    white-space: nowrap;
    display: block;
}

.form-group>span:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.form-group>span:first-child,
.form-group .form-field:first-child {
    border-radius: 6px 0 0 6px;
}

.form-group>span:last-child,
.form-group .form-field:last-child {
    border-radius: 0 6px 6px 0;
}

.form-group>span:not(:first-child),
.form-group .form-field:not(:first-child) {
    margin-left: -1px;
}

.form-group .form-field {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

.form-group>span {
    text-align: center;
    padding: 8px 12px;
    font-size: 1rem;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    -webkit-transition: background .3s ease, border .3s ease, color .3s ease;
    transition: background .3s ease, border .3s ease, color .3s ease;
}

.form-group:focus-within>span {
    color: var(--group-color-focus);
    background: var(--group-background-focus);
    border-color: var(--group-border-focus);
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

.form-group,
.form-field {
    max-width: 360px;
}

 :focus {
    outline: 0;
}

input[type=radio] {
    box-sizing: border-box;
    margin-right: 10px;
    background-color: #006747;
    border-color: #006747;
}

#noconsent {
    margin-top: 25px;
}

a {
    color: #006747;
}

a:hover {
    color: #005432;
}

.consentbutton {
    display: block;
}

#form {
    display: block;
}

#formAll {
    margin-top: 5px;
}

.btn {
    background-color: #006747;
    border-color: #006747;
    margin: 0;
    font: 600 17px "Barlow Condensed", sans-serif;
    text-transform: uppercase;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #005432;
    border-color: #005432;
}

#consentNext {
    padding: 10px 20px;
}

input[type=radio] {
    height: 15px;
    width: 15px;
}

#formline {
    margin-top: 10px;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 992px) and (min-width: 890px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 890px) and (min-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px 80px 100px 80px;
        font-size: 15px;
    }
    #consentNext {
        padding: 9px 16px;
        font-size: 15px;
    }
    .form-field,
    .form-group>span {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .container {
        max-width: 100%;
        padding: 10px 60px 100px 60px;
        font-size: 14px;
    }
    #consentNext {
        padding: 9px 16px;
        font-size: 14px;
    }
    .form-field,
    .form-group>span {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) and (min-width: 380px) {
    .container {
        max-width: 100%;
        padding: 10px 40px 80px 40px;
        font-size: 14px;
    }
    #consentNext {
        padding: 8px 14px;
        font-size: 14px;
    }
    input[type=radio] {
        height: 13px;
        width: 13px;
    }
    .form-field,
    .form-group>span {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .container {
        max-width: 100%;
        padding: 10px 30px 80px 30px;
        font-size: 13px;
    }
    #consentNext {
        padding: 7px 12px;
        font-size: 13px;
    }
    input[type=radio] {
        height: 10px;
        width: 10px;
    }
    .form-field,
    .form-group>span {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
    }
}