    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        background-color: #EFEFF0;
        margin: 0;
        width: 100%;
    }
    
    h1 {
        text-align: center;
        display: block;
        margin: 0;
        font: 600 30px "Barlow Condensed", sans-serif;
        color: #3f565e;
    }
    
    b {
        color: #006747;
    }
    
    mark {
        background-color: transparent;
        background-image: linear-gradient(transparent 0%, transparent calc(50% - 1.5px), #9CCB3B calc(50% - 9px), #9CCB3B 100%);
        background-size: 100% 200%;
        word-break: break-word;
        padding: 0px 0px 2px;
        background-position: 0px 0px;
    }
    
    li {
        display: block;
    }
    
    ul {
        display: block;
        padding: 0;
    }
    
    .container {
        margin: auto;
        padding: 50px 100px 80px 100px;
        background-color: white;
    }
    
    .alert {
        margin-bottom: 5px;
        line-height: 30px;
        padding: 1px 15px;
    }
    
    .alert-dismissible .close {
        margin-bottom: 0;
        line-height: 0px;
        padding: .75rem;
    }
    
    #consent-text p {
        text-align: justify;
    }
    
    #firstNameError,
    #lastNameError,
    #uidError,
    #uidValidError {
        display: none;
    }
    
     :focus {
        outline: 0;
    }
    
    .consentform {
        display: inline-block;
        width: 30%;
        border-radius: 5px;
        border: 1px solid #ced4da;
        border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        background-color: -internal-light-dark-color(rgb(255, 255, 255), rgb(59, 59, 59));
        cursor: text;
        font-size: 1rem;
        padding: 4px 8px;
        margin-right: 10px;
    }
    
    .consentform:focus {
        border-color: rgb(102, 102, 102);
    }
    
    #uid-div {
        background: linear-gradient(90deg, #e9ecef 30px, transparent 0px);
    }
    
     ::placeholder {
        color: rgb(158, 158, 158)
    }
    
    span {
        display: inline;
    }
    
    #uid {
        display: inline;
        border: 0;
        margin: 0;
        padding: 0;
        background-color: transparent;
        margin-left: 10px;
        max-width: 80%;
    }
    
    input[type=radio] {
        box-sizing: border-box;
        margin-right: 10px;
        background-color: #006747;
        border-color: #006747;
    }
    
    #noconsent {
        margin-top: 25px;
    }
    
    a {
        color: #006747;
    }
    
    a:hover {
        color: #005432;
    }
    
    .consentbutton {
        display: block;
    }
    
    #form {
        display: block;
    }
    
    #formAll {
        margin-top: 5px;
    }
    
    .btn {
        background-color: #006747;
        border-color: #006747;
        margin: 10px 0px 0px 0px;
        font: 600 17px "Barlow Condensed", sans-serif;
        text-transform: uppercase;
    }
    
    .btn:hover,
    .btn:active,
    .btn:focus {
        background-color: #005432;
        border-color: #005432;
    }
    
    #consentNext {
        padding: 10px 20px;
    }
    
    input[type=radio] {
        height: 15px;
        width: 15px;
    }
    
    #formline {
        margin-top: 10px;
    }
    
    @media screen and (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }
    
    @media screen and (max-width: 992px) and (min-width: 890px) {
        .container {
            max-width: 100%;
        }
    }
    
    @media screen and (max-width: 890px) and (min-width: 768px) {
        .container {
            max-width: 100%;
            padding: 10px 80px 100px 80px;
        }
        .consentform {
            display: block;
            width: 300px;
            padding: 3px 5px;
            margin-bottom: 5px;
        }
    }
    
    @media screen and (max-width: 768px) and (min-width: 576px) {
        .container {
            max-width: 100%;
            padding: 10px 60px 100px 60px;
            font-size: 90%;
        }
        #consentNext {
            padding: 9px 16px;
            font-size: 90%;
        }
        .consentform {
            display: block;
            width: 250px;
            padding: 3px 5px;
            font-size: 90%;
            margin-bottom: 5px;
        }
    }
    
    @media screen and (max-width: 576px) and (min-width: 380px) {
        .container {
            max-width: 100%;
            padding: 10px 40px 80px 40px;
            font-size: 85%;
        }
        #consentNext {
            padding: 8px 14px;
            font-size: 90%;
        }
        input[type=radio] {
            height: 13px;
            width: 13px;
        }
        .consentform {
            display: block;
            width: 200px;
            padding: 3px 5px;
            font-size: 85%;
            margin-bottom: 5px;
        }
    }
    
    @media screen and (max-width: 380px) {
        .container {
            max-width: 100%;
            padding: 10px 30px 80px 30px;
            font-size: 80%;
        }
        #consentNext {
            padding: 7px 12px;
            font-size: 90%;
        }
        input[type=radio] {
            height: 10px;
            width: 10px;
        }
        .consentform {
            display: block;
            flex: 0 0 200px;
            min-width: 200px;
            max-width: 200px;
            padding: 3px 5px;
            font-size: 85%;
            margin-bottom: 5px;
        }
    }