        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 16px;
            background-color: #EFEFF0;
            margin: 0;
            width: 100%;
        }
        
        .container {
            margin: auto;
            padding: 10px 100px 100px 100px;
            background-color: white;
        }
        
        img {
            max-width: 100%;
            max-height: 100%;
        }
        
        mark {
            background-color: transparent;
            background-image: linear-gradient(transparent 0%, transparent calc(50% - 1.5px), #9CCB3B calc(50% - 9px), #9CCB3B 100%);
            background-size: 100% 200%;
            word-break: break-word;
            padding: 0px 0px 2px;
            background-position: 0px 0px;
        }
        
        b {
            color: #006747;
        }
        
        .grid {
            width: 240px;
            height: 240px;
        }
        
        .column {
            float: left;
            padding: 10px;
        }
        
        #panasError {
            display: none;
            margin: 10px 0;
        }
        
        .btn {
            background-color: #006747;
            border-color: #006747;
            margin: 10px 0px 10px 0px;
            font: 600 17px "Barlow Condensed", sans-serif;
            text-transform: uppercase;
        }
        
        .btn:hover,
        .btn:active,
        .btn:focus {
            background-color: #005432;
            border-color: #005432;
        }
        
        #panasNexButton {
            display: block;
            float: right;
            margin: 15px 0 15px 0;
        }
        
        #panas_result {
            padding: 10px 20px;
        }
        
        #taskInfo {
            display: inline-block;
            padding: 8px 10px;
            text-align: center;
            background-color: #3f565e;
            border: 0;
            color: white;
        }
        
        #info {
            /* text-align: center; */
            margin-bottom: 20px;
        }
        
        .radio-inline {
            margin: 0;
        }
        
        input[type=radio] {
            height: 15px;
            width: 15px;
        }
        
        table {
            width: 680px;
            text-align: center;
            margin: auto;
            margin-top: 30px;
            font-size: 15px;
            border-collapse: separate;
            border-spacing: 0 3px;
        }
        
        thead th.main,
        tbody td.main {
            width: 180px;
            text-align: left;
        }
        
        th,
        td {
            padding: 4px;
            width: 100px;
        }
        
        table thead th,
        thead th.main {
            vertical-align: middle;
        }
        
        thead,
        th {
            background-color: #f0f1f3;
            color: #3f565e
        }
        
        tr:nth-child(even) {
            background-color: #f0f1f3;
        }
        
        tr:nth-child(odd) {
            background-color: #fafafa;
        }
        
        th:first-child {
            border-radius: 5px 0 0 0;
        }
        
        th:last-child {
            border-radius: 0 5px 0 0;
        }
        
        td.Afraid:last-child {
            border-radius: 0 0 5px 0;
        }
        
        td.Afraid:first-child {
            border-radius: 0 0 0 5px;
        }
        
        @media screen and (min-width: 992px) {
            .container {
                max-width: 960px;
            }
        }
        
        @media screen and (max-width: 992px) and (min-width: 890px) {
            .container {
                max-width: 100%;
            }
        }
        
        @media screen and (max-width: 890px) and (min-width: 768px) {
            .container {
                max-width: 100%;
                padding: 10px 80px 100px 80px;
            }
            table {
                width: 100%;
            }
        }
        
        @media screen and (max-width: 768px) and (min-width: 576px) {
            .container {
                max-width: 100%;
                padding: 10px 60px 100px 60px;
                font-size: 90%;
            }
            #panas_result {
                padding: 9px 16px;
                font-size: 90%;
            }
            table {
                width: 100%;
                font-size: 90%;
            }
        }
        
        @media screen and (max-width: 576px) and (min-width: 380px) {
            .container {
                max-width: 100%;
                padding: 10px 40px 80px 40px;
                font-size: 85%;
            }
            #panas_result {
                padding: 8px 14px;
                font-size: 90%;
            }
            table {
                width: 100%;
                font-size: 85%;
            }
            input[type=radio] {
                height: 13px;
                width: 13px;
            }
        }
        
        @media screen and (max-width: 380px) {
            .container {
                max-width: 100%;
                padding: 10px 30px 80px 30px;
                font-size: 80%;
            }
            #panas_result {
                padding: 7px 12px;
                font-size: 90%;
            }
            table {
                width: 100%;
                font-size: 80%;
            }
            input[type=radio] {
                height: 10px;
                width: 10px;
            }
        }