<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" /> -->
 
    <link rel="stylesheet" href="/login.css" />

    <title>Login</title>
</head>

<body>
    <div class="error-container">
        <ul>
            <% if (typeof errors != 'undefined') { %>
                <% errors.forEach(error => { %>
                    <li class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= error.message %>
                    </li>
                    <% }) %>
                        <% } %>
        </ul>

        <ul>
            <% if(messages.success_msg) { %>
                <li class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= messages.success_msg %>
                </li>
                <% } %>
        </ul>

        <ul>
            <% if (messages.error) { %>
                <li class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= messages.error %>
                </li>
                <% } %>
        </ul>
    </div>
    <div class="small-container">
        <p class="sign" align="center">Sign in</p>
 

        <form action="/users/login" method="POST">
            <div class="form-group">
                <!--<span>Username</span>-->
                <input class="form-field" type="text" align="center" name="uid" id="uid" placeholder="Username" required>
            </div>
            <div class="form-group">
                <!--<span>Password  </span>-->
                <input class="form-field" type="password" align="center" name="pwd" id="pwd" placeholder="Password" required>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" align="center" value="Login" />
            </div>
            <div id="register"><a href="/users/register">New participant? Register</a></div>

        </form>
    </div>
</body>

</html>
